body {
  background-color: #fafafa;
}
.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}
h1 {
    letter-spacing: 8px;
}
.h1 {
  font-weight: bold;
}
h5 {
    letter-spacing: 3px;
}
.hr-light {
    border-top: 3px solid #fff;
    width: 80px;
}
.card .card-text {
  color: #fff;
}
.card.card-cascade.wider.reverse .card-body {
  margin-top: -300px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .card.card-cascade.wider.reverse .card-body {
    margin-top: -100px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.cover-image {
  background-size: cover;
  background-position: center;
  width: 100%;
}
.page-heading {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 2px;
  margin-bottom: .5rem;
  color: inherit;
}
