<div class="jumbotron" style="background-image: url(/img/sutl-bknd.jpg);">
  <div class="container py-5">
    <h2 class="display-4 white-text">COVID Intake Form Statistics</h2>
    <p class="lead white-text">Hoover over charts to view details</p>
  </div>
</div>
<div class="container">
  <iframe width="100%" height="850" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTUgpBU30wSsr--5v0uNobTxDMTlTbXLLzD5N4zwqMnpA-YdVORm_NaXHwFOXQkPZqNDo8cErZ8s5gW/pubhtml?gid=1356357827&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
</div>
