<!--Footer-->
<footer class="page-footer stylish-color center-on-small-only pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12">
                <div class="footer-socials mb-5 flex-center">

                    <!--Twitter-->
                    <a href="https://twitter.com/innovatesac" target="_blank" class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                    <!--Facebook-->
                    <a href="https://www.facebook.com/groups/sacurbantech/" target="_blank" class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                    <!--GitHub-->
                    <a href="https://github.com/innovatesac" target="_blank" class="icons-sm pin-ic"><i class="fa fa-github fa-lg white-text mr-md-4"> </i></a>
                    <!--Mailchimp-->
                    <a href="https://res.updates.cityofsacramento.org/lp/landingPageCitySubscriptionEmail?service=%40-UXq1D1A_xAqdVh0jTfUEeh9wj5eYsAP_n7BolXQeVRzsn_Ok5eebG9CM7o5FVW9txb0Nef6Bl4ganzKupTfS1LG6YRvwxZ6ZoBP22va3tytQVFT" target="_blank"><i class="fa fa-envelope fa-lg white-text mr-md-4" aria-hidden="true"></i></a>

                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            An initiative by the <a href="http://www.cityofsacramento.org/Economic-Development" target="_blank">City of Sacramento Office of Innovation & Economic Development</a>
        </div>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->

<!-- JavaScripts -->
<!-- jQuery -->
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
<!-- Bootstrap tooltips -->
<!-- <script type="text/javascript" src="/js/popper.min.js"></script> -->
<!-- Bootstrap core JavaScript -->
<!-- <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script> -->
<!-- MDB core JavaScript -->
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/js/mdb.min.js"></script> -->
<!-- Compiled JS -->
<script type="text/javascript" src="/js/compiled.min.js"></script>
<!--Animations init-->
<script>
    wow = new WOW().init();
</script>
