
<!--Section: Blog v.3-->
<section class="text-center pb-3">

<div class="row">


  <div class="col-md-12 mb-4">
              <div class="card card-image" style="background-image: url(/img/sutl-bknd.jpg);">
                  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
                      <div>
                          <h6 class="purple-text">
                              <!-- <i class="fa fa-plane"></i>
                              <strong> Travel</strong> -->
                          </h6>
                          <h1 class="py-3 font-weight-bold">
                              <strong>Meet the Team</strong>
                          </h1>
                          <p class="pb-3">The Mayor's Office for Innovation and Entrepreneurship (MOFIE) was formed in 2016 to adopt innovative
                              best learnings from around the country and to serve as a liaison between City Hall, the Mayor's Office,
                              and Sacramento's innovation community. MOFIE works within the Office of Economic Development to foster a
                              sustainable ecosystem for innovation.
                          </p>
                      </div>
                  </div>
              </div>
          </div>

                      <!-- <h2 class="h1 text-center mb-5">Meet the Team</h2> -->

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1-half">
                <img src="/img/mofie/louis.jpg" class="img-fluid" alt="First sample image">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Louis Stewart</strong>
            </h3>
            <p>
                <a class="font-weight-bold dark-grey-text">Chief Innovation Officer</a></p>
            <p class="grey-text">Louis Stewart currently serves as the City of Sacramento's first
              Chief Innovation Officer within the Mayor's Office for Innovation and Entrepreneurship.
              Mr. Stewart is responsible for the development of a broad citywide portfolio of programs
              and initiatives that support, drive, influence and build upon the City of Sacramento's
              economic inclusion philosophy, business development strategies, goals, customer relationships
              and business results. He spent the last seven years serving as California's Deputy Director
              of Innovation and Entrepreneurship in the Governor’s Office of Business and Economic
              Development (GO-Biz). In that capacity he oversaw the coordination and promotion of
              innovative programs, activities, and emerging technologies throughout California for the
              last seven years. He managed a robust statewide innovation-based economic development support
              network of regional innovation clusters called the California Innovation Hubs (iHubs). Mr.
              Stewart has served in the public sector for 10 years including as the Deputy Director of the
              Census for the Governor’s Office of Planning and Research, the Assistant Deputy Director of
              the Field Operations Division for the Department of Motor Vehicles, and the Information
              Technology Director for Californians for Schwarzenegger. His professional experience also
              includes 17 years in the private sector in sales, marketing, and information technology.</p>

              <p class="grey-text">While Mr. Stewart’s experience is vast, his greatest expertise and focus includes:</p>

              <p class="grey-text">Smart and Connected Cities</p>
              <p class="grey-text">Bio Technology</p>
              <p class="grey-text">Tech Equity</p>
              <p class="grey-text">Development of Innovation Ecosystems</p>

              <p class="grey-text">Mr. Stewart is a service based leader who embodies the belief that he cannot be a success without helping others be successful.</p>

              <p class="grey-text">Mr. Stewart grew up in France and Italy, and played professional basketball
                in Peru and Belgium until he landed back in Sacramento. Mr. Stewart received his Bachelor of Arts degree from Santa Clara University.</p>

            <a class="btn btn-primary btn-md" href="https://twitter.com/MeetMrStewart"><i class="fa fa-twitter"></i> @MeetMrStewart</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5">

    <!--Grid row-->
    <div class="row mt-3">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="/img/mofie/ash-roughani.jpg" class="img-fluid" alt="Second sample image">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Ash Roughani</strong>
            </h3>
            <p>
                <a class="font-weight-bold dark-grey-text">Bureaucracy Hacker</a></p>
            <p class="grey-text">Ash Roughani is Bureaucracy Hacker at the City of Sacramento Mayor’s Office for Innovation & 
              Entrepreneurship (MOFIE) where he manages the Creative Economy Pilot Project, in addition to other initiatives. 
              Ash is a systems thinker who synthesizes his deep knowledge of public policy and business strategy with technical 
              skills in product management, web development, human centered design, and community building. Prior to his role at 
              the City, Ash founded and launched several civic technology startups, including Public Innovation, Code for Sacramento, 
              and Delivery Unit. He was formerly Senior Associate at California Forward, served as an Executive Fellow in the 
              Schwarzenegger Administration. Ash holds a Master of Public Policy and Administration degree from Sacramento State, 
              a BA in Philosophy from UC Santa Barbara, and completed half of the MBA program at the UC Davis Graduate School of 
              Management.</p>

            <a class="btn btn-primary btn-md" href="https://twitter.com/roughani"><i class="fa fa-twitter"></i> @roughani</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr class="mb-5">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-5 col-xl-4 mb-4">
            <!--Featured image-->
            <div class="view overlay rounded z-depth-1">
                <img src="/img/mofie/aubree.jpg" class="img-fluid" alt="Third sample image">
            </div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
            <h3 class="mb-3 font-weight-bold dark-grey-text">
                <strong>Aubree Taylor</strong>
            </h3>
            <p>
                <a class="font-weight-bold dark-grey-text">Content Strategist</a></p>
            <p class="grey-text">Hi, my name is Aubree Taylor. I am informally known as MOFIE's Cat Herder,
              which means I chase around Louis and Ash and try to make everything make sense on the back end.
              I am more formally known as MOFIE's content strategist and, with that, have other, more dangerous
              cats to wrangle. I have been with the City of Sacramento since 2014 and got my start in the
              Mayor's Office serving Sacramento through the lens of Constituent Affairs. I earned my bachelor
              of science degree in Materials Science & Engineering from the University of California, Merced
              in 2013 and have more recently turned my interests to Computer Science. I am very excited to see where
              Sacramento is going and what ways I can help facilitate.</p>

            <a class="btn btn-primary btn-md" href="https://twitter.com/aubreej9"><i class="fa fa-twitter"></i> @aubreej9</a>
        </div>
        <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<!--Section: Blog v.3-->
