<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-3 mb-md-0 py-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text black-text">The City is engaged in several strategic,
            capacity building efforts to invest in the effectiveness and future
            sustainability of local companies. Second-stage companies are the backbone
            of Sacramento’s economy and the definition of economic growth and prosperity.
            Focusing our efforts on these companies means strengthening the economy
            of the region and supporting the entrepreneurs who live among us. </p>
            <a href="/pdf/economic-gardening.pdf" class="indigo-text d-flex justify-content-end"><h5><i class="fa fa-angle-double-right"></i>View One-Pager<i class="fa fa-angle-double-left"></i></h5></a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 py-3">
        <div class="text-center">
          <h2>How does your garden grow?</h2>
          <p>What is Economic Gardening?  It’s a “Grow your Own” entrepreneurial
            approach to Economic Development. It’s ideal for second-stage entrepreneurs
            because it focuses on critical strategic challenges they’re wrestling
            with - from developing new markets and refining business models to
            assessing competitive intelligence.  It differs from the types of
            business assistance that are traditionally offered by consultants.
            By providing CEOs with action-oriented tools and information, economic
            gardening specialist point them to new opportunities they may never
            have thought of on their own. Selected companies will have access to
            a suite of high-end, high-speed development tools.</p>
            <!-- <a class="btn btn-indigo btn-lg" href="/application" role="button">Apply now!</a> -->
        </div>
      </div>
    </div>
</div>
