<div class="jumbotron jarallax" style="background-image: url(/img/sutl-bknd-eg.jpg);">
  <div class="container py-5">
  </div>
</div>

<div class="container py-3">
  <div class="jumbotron">
    <h2 class="display-4">Economic Gardening 2.0</h2>
    <p>City of Sacramento Economic Gardening Program</p>
    <hr class="my-4">
    <h5>The Office of Innovation and Economic Development is excited to launch Economic
      Gardening 2.0, a new economic development pilot program designed to provide
      sophisticated, tailor-made technical assistance to local, second-stage companies
      poised for growth in the City of Sacramento. The City will be partnering with
      the National Center for Economic Gardening (NCEG), a national organization
      that supports entrepreneurship.</h5>
      <h5><b><i>Deadline for submission is December 6, 2019 by close of business.</i></b></h5>
  </div>
</div>
