<div class="card-body">

  <h2 class="section-heading h1 pt-4">2018 RAILS Grant Program</h2>

  <!-- <div class="col-md-6 text-center text-md-left pr-md-5"> -->
    <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/embed/DQX21UdEn9g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <!-- </div> -->

  <p class="section-description lead grey-text"></p>

  <div class="row">

    <div class="col-md-6 d-flex">

      <!--Card-->
      <div class="card card-image mb-4 view overlay hm-white-slight" style="background-image: url(/img/focus-areas/internet-of-things-iot-and-cybersecurity.jpg);">

      <a href="https://rails.innovatesac.org/">
        <div class="mask"></div>
      </a>

          <!--Card content-->
          <div class="card-body text-white text-center py-5 px-4">
              <!--Icon-->
              <h1><i class="fa fa-book"></i></h1>
              <!--Title-->
              <h2 class="card-title h1">Read the Guidelines</h2>
          </div>

      </div>
      <!--/.Card-->

    </div>

    <div class="col-md-6 d-flex">

      <!--Card-->
      <div class="card card-image mb-4 view overlay hm-white-slight" style="background-image: url(/img/focus-areas/food-systems.jpg);">

      <a href="http://bit.ly/FAQRAILS">
        <div class="mask"></div>
      </a>

          <!--Card content-->
          <div class="card-body text-white text-center py-5 px-4">
              <!--Icon-->
              <h1><i class="fa fa-question-circle"></i></h1>
              <!--Title-->
              <h2 class="card-title h1">FAQs</h2>
          </div>

      </div>
      <!--/.Card-->

    </div>

    <div class="col-md-6 d-flex">

      <!--Card-->
      <div class="card card-image mb-4 view overlay hm-white-slight" style="background-image: url(/img/focus-areas/clean-tech-and-sustainability.jpg);">

      <a href="https://www.eventbrite.com/o/mayors-office-for-innovation-amp-entrepreneurship-city-of-sacramento-14347014988">
        <div class="mask"></div>
      </a>

          <!--Card content-->
          <div class="card-body text-white text-center py-5 px-4">
              <!--Icon-->
              <h1><i class="fa fa-comments-o"></i></h1>
              <!--Title-->
              <h2 class="card-title h1">Technical Assistance Workshops</h2>
          </div>

      </div>
      <!--/.Card-->

    </div>

    <div class="col-md-6 d-flex">

      <!--Card-->
      <div class="card card-image mb-4 view overlay hm-white-slight" style="background-image: url(/img/focus-areas/workforce-development.jpg);">

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSc00-3O79R5CqqdSnx2i0gA93E1ToNlzgdIKaOmaApJLEXKrA/viewform?usp=sf_link">
        <div class="mask"></div>
      </a>

          <!--Card content-->
          <div class="card-body text-white text-center py-5 px-4">
              <!--Icon-->
              <h1><i class="fa fa-pencil-square-o"></i></h1>
              <!--Title-->
              <h2 class="card-title h1">Apply Now</h2>
          </div>

      </div>
      <!--/.Card-->

    </div>

  </div>

</div>
