<!-- Intro Section -->
<div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(/img/sutl-bknd.jpg);">
  <div class="full-bg-img">
      <div class="container flex-center">
          <div class="row pt-5 mt-3">
              <div class="col-md-12">
                <div class="container">
                  <!-- <h1 class="jumbotron-heading">{{ site.title }}</h1> -->
                  <div class="row">
                    <div class="col-md-6 mx-auto">
                      <div class="thumbnail">
                      <img class="img-thumbnail" src="/img/rails-logo.png" style="background-color:white;">
                      <p class="text-center">
                        <a href="" class="btn btn-primary">Begin Application</a>
                        <a href="https://github.com/innovatesac/2018-rails-guidelines/issues" class="btn btn-secondary">FAQ</a>
                      </p>
                    </div>
                    </div>
                    <div class="col-md-6 text-center text-md-left pr-md-5">
                      <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/embed/DQX21UdEn9g?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
