
<div class=card>
<!--Section: Products v.5-->
<section class="text-center pb-3 my-5">
  <!--Section heading-->
  <div class="container">
    <!-- <h1 class="jumbotron-heading">{{ site.title }}</h1> -->
    <div class="card-body">
      <h1 class="page-heading text-center py-4">Partners</h1>
      <hr>
      <!--Grid row-->
      <div class="row pt-5">

          <!--Grid column-->
          <div class="col-lg-6 col-xl-7 mb-3">

              <!--Grid row-->
              <div class="row mb-3">
                  <div class="col-1 mr-1">
                      <i class="fa fa-leaf fa-lg green-text"></i>
                  </div>
                  <div class="col-10">
                      <h3 class="feature-title font-bold">The Verde Innovation Network for Entrepreneurship (The VINE)</h3>
                      <p class="grey-text">The Verde Innovation Network for Entrepreneurship (The VINE) is a connected community of innovators and resurces in sustainable food and agriculture technology</p>
                      <p class="">
                        <a href="https://thevine.io/" class="btn btn-primary">Visit Website</a>
                      </p>
                  </div>
              </div>
              <!--Grid row-->
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-lg-6 col-xl-5 mb-3">
              <!--Image-->
              <img src="/img/partners/the-vine.png" alt="The VINE Network" class="img-fluid z-depth-2" href="https://thevine.io/">
          </div>
          <!--Grid column-->
      </div>
      <!--Grid row-->
      <div class="excerpt">
        <h4 class="feature-title text-center pt-5">Get Involved</h4>
        <p class="text-center">Interested in partnering with us? We're looking for organizations and individuals who can bring resources to the table.</p>
        <button type="button"   href="https://goo.gl/forms/g5WBoWSvu07KG82f2" target="_blank" class="btn blue-gradient d-block mx-auto"><i class="fa fa-rocket"></i> Propose a Partnership</a>
      </div>

    </div>
    <!--Page content-->
  </div>
</section>
<!--Section: Products v.5-->
</div>
