
<div class=card>
  <!--Section: Products v.5-->
  <section class="pb-3 my-5">

    <!--Section heading-->
    <div class="container">
      <div class="card-body">
        <h1 class="page-heading text-center py-4">What's Happening in Sacramento?</h1>
        <hr>

        <div class="row pt-5">
          <div class="col-lg-6 col-xl-5 mb-3">
            <!--Video-->
            <div class="embed-responsive embed-responsive-16by9 hoverable">
              <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/embed/AO7XbqI6xCg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
          </div>

          <!--Grid column-->
          <div class="col-lg-6 col-xl-7 mb-3">
            <div class="col-1 mr-1">
              <i class="fa fa-heartbeat fa-lg blue-text"></i>
            </div>

          <div class="col-10">
            <h3 class="feature-title font-bold">Aggie Square</h3>
            <p class="grey-text">Set to open in the next few years at the UC Davis Medical Center in Sacramento, Aggie Square will be an innovation hub that brings together the region’s communities and entrepreneurs. With a new tech-enhanced meeting ground, community leaders, creatives, and business leaders will be able to foster high-tech innovation right here in Sacramento. A beacon of Sacramento’s integrated approach to urban planning, the 25-acre development will serve as a hub for state-of-the-art research facilities, incubator spaces, academic programs, and housing.</p>
            <p class="grey-text">Aggie Square will serve as a collaborative technology and innovation campus that leverages the university's strengths to become the catalyst for economic change, creates jobs for its graduates, and helps spur the economic vitality of the broader Sacramento region. It will also serve as a model public-private partnership, increasing technology transfer and creating equitable opportunities for residents in the community and region.</p>
            <p class="">
              <a href="https://leadership.ucdavis.edu/aggie-square" class="btn btn-primary">Visit Website</a>
            </p>
          </div>
        </div>
      </div>
      <hr>

      {% for study in site.data.health-it-and-life-sciences %}

      <!--Grid row-->
      <div class="row pt-5">

        <div class="col-lg-6 col-xl-5 mb-3">
          <!--Image-->
          <img src="/img/focus-areas/case-study/{{study.img}}.png" alt="{{study.title}}" class="img-fluid z-depth-2" href="{{study.website}}">
        </div>

        <!--Grid column-->
        <div class="col-lg-6 col-xl-7 mb-3">

          <!--Grid row-->
          <div class="row mb-3">
            <div class="col-1 mr-1">
              <i class="fa fa-heartbeat fa-lg blue-text"></i>
            </div>

            <div class="col-10">
              <h3 class="feature-title font-bold">{{study.project}}</h3>
              <p class="grey-text">{{study.description}}</p>
              <p class="">
                <a href="{{study.website}}" class="btn btn-primary">Visit Website</a>
                {% if {study.link} %}
                  <a href="{{study.link}}" class="btn btn-primary">news</a>
                {% endif %}
              </p>
            </div>
          </div>
          <!--Grid row-->
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
      <hr>

      {% endfor %}
    </div>
  </div>
</section>
<!--Section: Products v.5-->
</div>
