
<div class=card>
<!--Section: Products v.5-->
<section class="text-center pb-3 my-5">
  <!--Section heading-->
  <div class="container">
    <!-- <h1 class="jumbotron-heading">{{ site.title }}</h1> -->
    <div class="row">
      <div class="col-md-6 mx-auto">
        <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/embed/AO7XbqI6xCg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <p class="text-center">
          <a href="/pdf/aggie-squre.pdf" class="btn btn-primary">View Working Group Report</a>
        </p>
      </div>
      <div class="col-md-6 text-center text-md-left pr-md-5">
        <h1 class="h1 py-5 text-center">Aggie Square</h1>
        <p class="text-center">
          Aggie Square will serve as a collaborative technology and innovation campus that leverages the university's strengths to become the catalyst
          for economic change, creates jobs for its graduates, and hleps spur the economic vitality of the broader Sacramento region. It will serve
          as a model public-private partnership, increasing technology transfer and creating equitable opportunities for residents in the community and
          region.
        </p>
      </div>
    </div>
  </div>

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="next">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
    <!--Controls-->
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
      <!-- <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li> -->
    </ol>
    <!--Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="col-md-4">
          <!--Card-->
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="/img/uc-davis/as-logo.jpg" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="/img/uc-davis/as-logo.jpg">Aggie Square Logo</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text-black"></p>
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="/img/uc-davis/as-logo.jpg">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          <!--Card-->
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="/img/uc-davis/context-dwntwn.jpg" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="/img/uc-davis/context-dwntwn.jpg">UC Davis Health</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text">
              </p>
              <!--Card footer-->
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="/img/uc-davis/context-dwntwn.jpg">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="/img/uc-davis/context-map.jpg" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="/img/uc-davis/context-map.jpg">Aggie Square Proposed Area</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text">
              </p>
              <!--Card footer-->
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="/img/uc-davis/context-map.jpg">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="/img/uc-davis/baseplan.jpg" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="/img/uc-davis/baseplan.jpg">Aggie Square Proposed Layout</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text">
              </p>
              <!--Card footer-->
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="/img/uc-davis/baseplan.jpg">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card card-cascade narrower card-ecommerce">
              <!--Card image-->
              <div class="view overlay">
                <img src="/img/uc-davis/baseplan-labels.jpg" class="img-fluid" alt="sample photo">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <div class="card-body text-center no-padding">
                <!--Category & Title-->
                <h4 class="card-title my-4">
                  <strong>
                    <a href="/img/uc-davis/baseplan-labels.jpg">Aggie Square Proposed Layout (Labled)</a>
                  </strong>
                </h4>
                <!--Description-->
                <p class="card-text">
                </p>
                <!--Card footer-->
                <div class="card-footer">
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="/img/uc-davis/baseplan-labels.jpg">
                        <i class="fa fa-expand ml-3"></i>
                      </a></span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card card-cascade narrower card-ecommerce">
              <!--Card image-->
              <div class="view overlay">
                <img src="/img/uc-davis/birdseye.jpg" class="img-fluid" alt="sample photo">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <div class="card-body text-center no-padding">
                <!--Category & Title-->
                <h4 class="card-title my-4">
                  <strong>
                    <a href="/img/uc-davis/birdseye.jpg">Aggie Square Bird's Eye View</a>
                  </strong>
                </h4>
                <!--Description-->
                <p class="card-text">
                </p>
                <!--Card footer-->
                <div class="card-footer">
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="/img/uc-davis/birdseye.jpg">
                        <i class="fa fa-expand ml-3"></i>
                      </a></span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--Second slide-->
      <!--Third slide-->
      <!-- <div class="carousel-item">
        <div class="col-md-4">
       </div>
        <div class="col-md-4 clearfix d-none d-md-block">
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
        </div>
      </div> -->
      <!--Third slide-->
    </div>
    <!--Slides-->
  </div>
  <!--Carousel Wrapper-->
</section>
<!--Section: Products v.5-->
</div>
