
<div class=card>
<!--Section: Products v.5-->
<section class="text-center pb-3 my-5">
  <!--Section heading-->
  <h1 class="h1 py-5">Aggie Square</h1>
  <iframe style="display: block; margin: auto;" width="560" height="315" src="https://www.youtube.com/embed/AO7XbqI6xCg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
      </a>
      <a class="btn-floating primary-color waves-effect waves-light" href="#multi-item-example" data-slide="next">
        <i class="fa fa-chevron-right"></i>
      </a>
    </div>
    <!--Controls-->
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li class="primary-color active" data-target="#multi-item-example" data-slide-to="0"></li>
      <li class="primary-color" data-target="#multi-item-example" data-slide-to="1"></li>
      <!-- <li class="primary-color" data-target="#multi-item-example" data-slide-to="2"></li> -->
    </ol>
    <!--Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="col-md-4">
          <!--Card-->
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="http://bit.ly/2HFcmZI" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="http://bit.ly/2HFcmZI">Aggie Square Logo</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text-black"></p>
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="http://bit.ly/2HFcmZI">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          <!--Card-->
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="http://bit.ly/2JQgiYg" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="http://bit.ly/2JQgiYg">UC Davis Health</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text">
              </p>
              <!--Card footer-->
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="http://bit.ly/2JQgiYg">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="http://bit.ly/2HnYpSv" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="http://bit.ly/2HnYpSv">Aggie Square Proposed Area</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text">
              </p>
              <!--Card footer-->
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="http://bit.ly/2HnYpSv">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--First slide-->
      <!--Second slide-->
      <div class="carousel-item">
        <div class="col-md-4">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="http://bit.ly/2qC2JTA" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <h4 class="card-title my-4">
                <strong>
                  <a href="http://bit.ly/2qC2JTA">Aggie Square Proposed Layout</a>
                </strong>
              </h4>
              <!--Description-->
              <p class="card-text">
              </p>
              <!--Card footer-->
              <div class="card-footer">
                <span class="float-right">
                  <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="http://bit.ly/2qC2JTA">
                      <i class="fa fa-expand ml-3"></i>
                    </a></span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card card-cascade narrower card-ecommerce">
              <!--Card image-->
              <div class="view overlay">
                <img src="http://bit.ly/2vjxu5z" class="img-fluid" alt="sample photo">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <div class="card-body text-center no-padding">
                <!--Category & Title-->
                <h4 class="card-title my-4">
                  <strong>
                    <a href="http://bit.ly/2vjxu5z">Aggie Square Proposed Layout (Labled)</a>
                  </strong>
                </h4>
                <!--Description-->
                <p class="card-text">
                </p>
                <!--Card footer-->
                <div class="card-footer">
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="http://bit.ly/2vjxu5z">
                        <i class="fa fa-expand ml-3"></i>
                      </a></span>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card card-cascade narrower card-ecommerce">
              <!--Card image-->
              <div class="view overlay">
                <img src="http://bit.ly/2vk0vOr" class="img-fluid" alt="sample photo">
                <a>
                  <div class="mask waves-effect waves-light"></div>
                </a>
              </div>
              <!--Card image-->
              <!--Card content-->
              <div class="card-body text-center no-padding">
                <!--Category & Title-->
                <h4 class="card-title my-4">
                  <strong>
                    <a href="http://bit.ly/2vk0vOr">Aggie Square Bird's Eye View</a>
                  </strong>
                </h4>
                <!--Description-->
                <p class="card-text">
                </p>
                <!--Card footer-->
                <div class="card-footer">
                  <span class="float-right">
                    <a class="" data-toggle="tooltip" data-placement="top" title="" data-original-title="View Image" href="http://bit.ly/2vk0vOr">
                        <i class="fa fa-expand ml-3"></i>
                      </a></span>
                </div>
              </div>
            </div>
        </div>
      </div>
      <!--Second slide-->
      <!--Third slide-->
      <!-- <div class="carousel-item">
        <div class="col-md-4">
       </div>
        <div class="col-md-4 clearfix d-none d-md-block">
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
        </div>
      </div> -->
      <!--Third slide-->
    </div>
    <!--Slides-->
  </div>
  <!--Carousel Wrapper-->
</section>
<!--Section: Products v.5-->
</div>
