
<div class=card>
  <!--Section: Products v.5-->
  <section class="pb-3 my-5">
  <!--Section heading-->
  <div class="container">
    <div class="card-body">
      <h1 class="page-heading text-center py-4">What's Happening in Sacramento?</h1>
      <hr>

       {% for study in site.data.internet-of-things-iot-and-cybersecurity %}
       <!--Grid row-->
       <div class="row pt-5">
         <div class="col-lg-6 col-xl-5 mb-3">
           <!--Image-->
           <img src="/img/focus-areas/case-study/{{study.img}}.png" alt="{{study.title}}" class="img-fluid z-depth-2" href="{{study.website}}">
         </div>

         <!--Grid column-->
         <div class="col-lg-6 col-xl-7 mb-3">

           <!--Grid row-->
           <div class="row mb-3">
             <div class="col-1 mr-1">
               <i class="fa fa-shield fa-lg red-text"></i>
             </div>

             <div class="col-10">
               <h3 class="feature-title font-bold">{{study.project}}</h3>
               <p class="grey-text">{{study.description}}</p>
               <p class="">
                 <a href="{{study.website}}" class="btn btn-primary">Visit Website</a>
                 {% if {study.link} %}
                   <a href="{{study.link}}" class="btn btn-primary">news</a>
                 {% endif %}
               </p>
             </div>
           </div>
           <!--Grid row-->

         </div>
         <!--Grid column-->

       </div>
       <!--Grid row-->
       <hr>
      {% endfor %}

    </div>

    <div class="row">
      <div class="col-md-6 mx-auto">
        <img class="img-fluid mb-3 mb-md-0" src="/img/iot-cyber/mayor-cyber-cup.jpg">
        <p class="text-center">
          <a href="/pdf/cybersacramento.pdf" class="btn btn-primary"><i class="fa fa-shield" aria-hidden="true"></i> View CyberSacramento One-Pager</a>
        </p>
      </div>
      <div class="col-md-6 text-center text-md-left pr-md-5">
        <h3 class="h1 py-5 text-center">CyberSacramento</h3>
        <p class="text-center">
          The CyberSacramento partnership connects Sacramento businesses to cybersecurity resources to protect their digital assets, while supporting the development of cybersecurity innovations and a cybersecurity workforce in the Capital region.  CyberSacramento uses a combination of grant funding, workforce development programs, and public-private partnerships with cybersecurity stakeholders to achieve its objectives. CyberSacramento uses our city’s unique standing as the policy innovation hub of California to bring businesses, colleges and universities, policy makers, and other community partners together to focus on this emerging field.
        </p>
      </div>
    </div>
  </div>

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="col-md-4">
          <!--Card-->
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="/img/iot-cyber/cybersacramento-initiative-1.png" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">
            </div>
          <!--Card-->
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="/img/iot-cyber/cybersacramento-initiative-2.png" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">

            </div>
          </div>
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
          <div class="card card-cascade narrower card-ecommerce">
            <!--Card image-->
            <div class="view overlay">
              <img src="/img/iot-cyber/cybersacramento-initiative-3.png" class="img-fluid" alt="sample photo">
              <a>
                <div class="mask waves-effect waves-light"></div>
              </a>
            </div>
            <!--Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding">

            </div>
          </div>
        </div>
      </div>
      <!--First slide-->
      <!--Third slide-->
      <!-- <div class="carousel-item">
        <div class="col-md-4">
       </div>
        <div class="col-md-4 clearfix d-none d-md-block">
        </div>
        <div class="col-md-4 clearfix d-none d-md-block">
        </div>
      </div> -->
      <!--Third slide-->
    </div>
    <!--Slides-->
  </div>
  <!--Carousel Wrapper-->
</section>
<!--Section: Products v.5-->
</div>
