<div class="container">
<!-- Projects section v.4 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5"></h2>
  <!-- Section description -->
  <p class="grey-text text-center w-responsive mx-auto mb-5"></p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background-image: url(/img/grants/sacatt.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-info"></i>
              <strong> Overview</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>SUTL Innovation Grant Overview</strong>
            </h3>
            <p class="pb-3">Learn about the City's $1 million grant program catalyzing innovation in the
              startup community. Innovation grants build pipelines to emerging industries, expand awareness
              of Sacramento's startup and entrepreneurial ecosystem, and help high-growth scale-ups locate and
              grow in Sacramento.
            </p>
            <a href="/pdf/sutl-grant-intro.pdf" class="btn btn-purple btn-rounded btn-md"><i class="fa fa-clone left"></i> Learn More </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6 mb-4">
      <div class="card card-image" style="background-image: url(/img/grants/cowork.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-group"></i>
              <strong> Support Organizations </strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Ecosystem Building Grants</strong>
            </h3>
            <p class="pb-3">Ecosystem Building Grants are designed to build workforce pipelines to the IoT, cybersecurity,
              mobility, health IT, and life science industries for startups and individuals in Sacramento.
              Grants will go toward establishing or expanding programmingto build or strenthen these pipelines.
            </p>
            <a class="btn btn-purple btn-rounded btn-md" href="/innovation-grants/ecosystem-building"><i class="fa fa-clone left"></i> Learn more </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6 mb-4">
      <div class="card card-image" style="background-image: url(/img/grants/words.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-bullhorn"></i>
              <strong> Marketing</strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>SUTL Ecosystem Marketing</strong>
            </h3>
            <p class="pb-3">SUTL Ecosystem Marketing consists of three discrete solicitations that focus on promoting
              Sacramento's startup ecosystem along with their respective scopes of work: SUTL Grant Program Documentation
              (RFP), National Marketing Strategy for Scale-Up Competition (RFP), Co-Working Marketing Grants.
            </p>
            <a class="btn btn-purple btn-rounded btn-md"><i class="fa fa-clone left"></i> More info coming soon! </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <!-- Grid row-->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-6 mb-4">
      <div class="card card-image" style="background-image: url(/img/grants/growth.png);">
        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 rounded">
          <div>
            <h6 class="purple-text">
              <i class="fa fa-sitemap"></i>
              <strong> Competition </strong>
            </h6>
            <h3 class="py-3 font-weight-bold">
              <strong>Scaleup Growth Competition</strong>
            </h3>
            <p class="pb-3">The Scaleup Growth Competition is designed to help high-growth scale-ups
              locate and grow in Sacramento. Funding will go toward determining a scale-up's fit in
              the Sacramento community.
            </p>
            <a class="btn btn-purple btn-rounded btn-md"><i class="fa fa-clone left"></i> More info coming soon! </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Projects section v.4 -->
</div>
