<!-- Section: Features v.2 -->
<section class="my-5">

  <!-- Section heading -->
  <!--Icon-->
  <h2><i class="fa fa-groups"></i></h2>
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{page.page-name}}</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5"> {{page.content}} </p>

  <!-- Grid row -->
  <div class="row">

<div class="col-md-6 mb-5">
        <!-- Grid column -->
        <div class="col-md-6">
          <i class="fa fa-bullhorn blue-text fa-2x"></i>
          <h4 class="font-weight-bold">Read the Guidelines</h4>
          <p class="grey-text">Please read the guidelines before applying. If you have any questions, check out
            the Workshops and FAQ.</p>
          <a class="btn btn-primary btn-sm" href=/pdf/{{page.reference}}.pdf>Program Guidelines</a>
        </div>
        <!-- Grid column -->
        </div>

        <div class="col-md-6 mb-5">

        <!-- Grid column -->
        <div class="col-md-6">
          <i class="fa fa-cogs pink-text fa-2x"></i>
          <h4 class="font-weight-bold"> Workshops & FAQ </h4>
          <p class="grey-text">Find out dates upcoming workshops and view recordings of past workshops.
            Read through questions submitted by others and questions submitted during workshops. If your question
          is not already answered, submit online</p>
          <a class="btn btn-pink btn-sm">Workshops & FAQ</a>
        </div>
        <!-- Grid column -->
        </div>

        <div class="col-md-6 mb-5">
        <!-- Grid column -->
        <div class="col-md-6">
          <i class="fa fa-groups fa-2x"></i>
          <h4 class="font-weight-bold">Apply Now</h4>
          <p class="grey-text">Ready to submit your application?</p>
          <a class="btn btn-purple btn-sm">Go to application!</a>
        </div>
        <!-- Grid column -->
        </div>

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.2 -->
