<!-- Section: Features v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <!--Icon-->
  <h2><i class="fa fa-groups"></i></h2>
  <h2 class="h1-responsive font-weight-bold text-center my-5">{{page.page-name}}</h2>
  <!-- Section description -->
  <p class="lead grey-text text-center w-responsive mx-auto mb-5"> {{page.content}} </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-book fa-3x purple-text"></i>
      <h5 class="font-weight-bold my-4">Read the Guidelines</h5>
      <p class="grey-text mb-md-0 mb-5">Please read the guidelines before applying.
        Guidelines refernce how to submit questions and workshop dates.
      </p>
      <a class="btn btn-purple" href=/pdf/{{page.reference}}.pdf>Program Guidelines</a>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-edit fa-3x purple-text"></i>
      <h5 class="font-weight-bold my-4">Apply Now</h5>
      <p class="grey-text mb-0">Check out the application page to find more details and
        submit your application today!
      </p>
      <a class="btn btn-purple" href="{{page.link}}">Go to application!</a>

    </div>
    <!-- Grid Column -->

    <!-- Grid column -->
    <div class="col-md-4">

      <i class="fa fa-comments-o fa-3x purple-text"></i>
      <h5 class="font-weight-bold my-4">FAQ</h5>
      <p class="grey-text mb-md-0 mb-5">Read through questions submitted by others and questions submitted during workshops. If your question
      is not already answered, submit online.
      </p>
      <a class="btn btn-purple" href="{{page.FAQ}}">Go to FAQ</a>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Features v.2 -->
