<div class="container">

  <!-- Page Title -->
  <h3 class="card-title h3 my-4"><strong>{{page.title}}</strong></h3>
  <!-- Page Sub-title -->
  <h4 class="card-title h4 my-4">{{page.sub-title}}</h4>

  <!-- Vertical Steppers -->
  <div class="row mt-1">
    <div class="col-md-12">

      <!-- Stepers Wrapper -->
      <ul class="stepper stepper-vertical">

        {% for faq in site.data.eg-faq %}

        <!-- Step -->
        <li class="step active">

          <!--Section Title -->
          <a>
            <span class="circle"><i class="fa fa-question-circle-o"></i></span>
            <span class="label">{{faq.question}}</span>
          </a>

          <!-- Section Description -->
          <div class="step-content grey lighten-3">
            <p>{{faq.answer}}</p>
          </div>
        </li>

        {% endfor %}

      </ul>
      <!-- /.Stepers Wrapper -->
    </div>
  </div>
  <!-- /.Vertical Steppers -->
</div>
