<div class="container">

  <!--Section heading-->
  <h2 class="section-heading h1 pt-4">Focus Areas</h2>
  <!--Section description-->
  <p class="section-description lead grey-text">SUTL aims to bring awareness to current and future City initiatives as well as develop programming to support the growth of the following industry verticals in Sacramento:</p>

  <div class="row">

    {% for area in site.data.focus-areas %}
    <div class="col-md-6 d-flex">

      <!--Card-->
      <div class="card card-image mb-4 view overlay hm-white-slight" style="background-image: url(/img/focus-areas/{{ area.title | slugify }}.jpg);">

      <a href="/focus-areas/{{ area.title | slugify }}">
        <div class="mask"></div>
      </a>

          <!--Card content-->
          <div class="card-body text-white text-center py-5 px-4">
              <!--Icon-->
              <h1><i class="fa fa-{{ area.icon }}"></i></h1>
              <!--Title-->
              <h2 class="card-title h1">{{ area.title }}</h2>
          </div>

      </div>
      <!--/.Card-->

    </div>
    <!--/.col-->
    {% endfor %}

    <!--Get Involved-->
    <div class="col-md-6">
      <h4 class="feature-title text-center pt-5">Get Involved</h4>
      <p class="text-center">Interested in partnering with us? We're looking for organizations and individuals who can bring resources to the table.</p>
      <a href="https://cityofsac.forms.fm/sutl" target="_blank" class="btn blue-gradient d-block mx-auto"><i class="fa fa-rocket"></i> Propose a Partnership</a>
      <!--/.Card-->
    </div>

  </div>

</div>
