<div class="container">

  <!--Section heading-->
  <h2 class="section-heading pt-4">Focus Areas</h2>
  <!--Section description-->
  <p class="section-description lead grey-text">SUTL aims to bring awareness to current and future City initiatives as well as develop programming to support the growth of the following industry verticals in Sacramento:</p>

  <!-- Row 1 -->
  <div class="row">
    <div class="col-sm">
    <!--Card-->
      <div class="card card-image mb-4" style="background-image: url(/img/focus-areas/mobility.jpg);">

          <!--Card content-->
          <div class="card-body text-white rgba-orange-strong">
              <!--Title-->
              <h4 class="card-title">Mobility</h4>
              <!--Text-->
              <p class="card-text">Sacramento recognizes autonomous, along with connected, shared, and electric, vehicles as the next frontier of transportation. While some of these technologies, such as electric vehicles and ride sharing, are fairly well socialized in our everyday lives, newer technologies are still being regulated by governments and introduced to the public. Improvements in vehicle technology coupled with increasing interest in private infrastructure investments offer a significant opportunity for the City to demonstrate government leadership toward increased integration in Sacramento.</p>
          </div>

      </div>
    </div>
    <!--/.Card-->
    <div class="col-sm">
      <div class="card card-image mb-4" style="background-image: url(/img/focus-areas/clean-tech.jpg);">

          <!--Card content-->
          <div class="card-body text-white rgba-green-strong">
              <!--Title-->
              <h4 class="card-title">Clean Tech and Sustainability</h4>
              <!--Text-->
              <p class="card-text">According to the EPA’s Framework for Sustainability, “current patterns of economic and social development are placing pressures upon natural resources, and may threaten the continued health and prosperity of human societies... [and] it is clear that a significant transformation of human production and consumption patterns will be needed in order to enable continued economic growth while protecting critical environmental resources.” The City of Sacramento has been a leader in our region in moving towards sustainability and livability and there is a broadening public interest in sustainability and clean tech throughout the world.</p>
          </div>

      </div>
      <!--/.Card-->
    </div>
  </div>

  <!-- Row 2 -->
  <div class="row">
    <div class="col-sm">
    <!--Card-->
      <div class="card card-image mb-4" style="background-image: url(/img/focus-areas/health.jpg);">

          <!--Card content-->
          <div class="card-body text-white rgba-blue-strong">
              <!--Title-->
              <h4 class="card-title">Health IT and Life Sciences</h4>
              <!--Text-->
              <p class="card-text">As the medical field becomes more innovative and global information sharing becomes more accessible, so will means of protecting and sharing patient and medical data. In Sacramento, the home of the University of California(UC), Davis Medical Center and location of many major healthcare researchers and providers, health information technology (health IT) makes it possible for health care providers to better manage patient care through secure use and sharing of health information. As this field grows, new programs and technologies are in development that improve quality of life, patient data security and accessibility, equity of access to all citizens.</p>
          </div>

      </div>
    </div>
    <!--/.Card-->
    <div class="col-sm">
      <div class="card card-image mb-4" style="background-image: url(/img/focus-areas/food.jpg);">

          <!--Card content-->
          <div class="card-body text-white rgba-brown-strong">
              <!--Title-->
              <h4 class="card-title">Food Systems</h4>
              <!--Text-->
              <p class="card-text">Agriculture is a huge engine in our region and Sacramento’s Farm to Fork movement is growing as local restaurants and stores are being more deliberate in sourcing food locally. As residents embrace community gardens and farmer’s markets, to truly become America’s Farm to Fork capitol, we need to take into consideration where our food is grown, produced, and distributed. Truly understanding these things will help address larger issues such as food deserts, air pollution caused by food transportation, and access to healthy eating choices.</p>
          </div>

      </div>
      <!--/.Card-->
    </div>
  </div>

  <!-- Row 3 -->
  <div class="row">
    <div class="col-sm">
    <!--Card-->
      <div class="card card-image mb-4" style="background-image: url(/img/focus-areas/iot-cyber.jpg);">

          <!--Card content-->
          <div class="card-body text-white rgba-red-strong">
              <!--Title-->
              <h4 class="card-title">Internet of Things (IoT) and Cybersecurity</h4>
              <!--Text-->
              <p class="card-text">Everything from our watches and furniture to city infrastructure is becoming “smart”. More and more devices are developing the capability to connect to take in data about usage and their environments. While this is making our decisions as consumers and government entities more informed and efficient, this connectivity makes us vulnerable to data breeches and increases the potential for personal information to be more readily accessible. In this way, the field of cybersecurity is becoming more important and will play a critical role in many fields.</p>
          </div>

      </div>
    </div>
    <!--/.Card-->
    <div class="col-sm">
      <div class="card card-image mb-4" style="background-image: url(/img/focus-areas/gov-tech.jpg);">

          <!--Card content-->
          <div class="card-body text-white rgba-grey-strong">
              <!--Title-->
              <h4 class="card-title">Gov Tech and Civic Tech</h4>
              <!--Text-->
              <p class="card-text">In the age of social media, citizens and governments (should they choose to pay attention) have a much higher level of visibility into what is going on in the communities that matter most to them. This behooves governments to design their processes, many of which are very ingrained, in a manner that is open and accountable to residents. This coupled with the trend of city governments choosing to embrace innovation and find new ways for City Hall to operate, makes government towns an ideal testbed for developing new processes and means of engagement.</p>
          </div>

      </div>
      <!--/.Card-->
    </div>
  </div>

  <!-- Row 4 -->
  <div class="row">
    <div class="col-sm">
    <!--Card-->
      <div class="card card-image mb-4" style="background-image: url(/img/focus-areas/workforce.jpg);">

          <!--Card content-->
          <div class="card-body text-white rgba-indigo-strong">
              <!--Title-->
              <h4 class="card-title">Workforce Development</h4>
              <!--Text-->
              <p class="card-text">While workforce development is encompassed in every vertical of SUTL, it is a key enough part of the equation that it needs to be specifically addressed. MOFIE is committed to working with companies in Sacramento and looking to come to Sacramento, but without the trained workforce, Sacramento’s economy cannot be sustained. To that end, local colleges and universities are crucial to ensure that the programming is in place to train the future workforce and that those institutions are connected to what the City is doing to ensure that students have access to real-world, hands-on projects in their fields.</p>
          </div>

      </div>
    </div>
    <!--/.Card-->
    <div class="col-sm">
      <h4 class="feature-title text-center">Get Involved</h4>
      <p class="text-center">Interested in partnering with us? We're looking for organizations and individuals who can bring resources to the table.</p>
      <a href="https://cityofsac.forms.fm/sutl" target="_blank" class="btn blue-gradient d-block mx-auto"><i class="fa fa-rocket"></i> Propose a Partnership</a>
      <!--/.Card-->
    </div>
  </div>

</div>
