<div class="container">

  <!--Projects section v.3-->
  <section class="section extra-margins">

      <!--Section heading-->
      <h2 class="section-heading h1 mt-5"><strong>Demonstration Partnerships</strong></h2>
      <!--Section description-->
      <p class="section-description">We collaborate with companies and organizations who are committed to improving quality of life for all of Sacramento's residents.</p>

      <!--Grid row-->
      <div class="row">

          <!--Grid column-->
          <div class="col-lg-6 col-xl-5 pr-lg-5 pb-5">

              <!--Image-->
              <img src="/img/connected-city.jpg" alt="Verizon" class="img-fluid z-depth-2">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-xl-7 pl-lg-5 pb-4">

              <!--Grid row-->
              <div class="row mb-3">
                  <div class="col-1 mr-1">
                      <i class="fa fa-wifi fa-lg red-text"></i>
                  </div>
                  <div class="col-10">
                      <h3 class="feature-title font-bold">Verizon 5G Joint Development Partnership</h3>
                      <p class="grey-text">Verizon announced that their first commercial launch will be in Sacramento – the first scaled commercial practical implementation of 5G in the nation. It’s expected to be implemented in the second half of 2018. This deployment will deliver super high-speed wireless 5G connectivity for Sacramento businesses and residents who will be the first to experience gigabit speeds that were previously only available via costly fiber.</p>
                  </div>
              </div>
              <!--Grid row-->

          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row pt-5">

          <!--Grid column-->
          <div class="col-lg-6 col-xl-7 mb-3">

              <!--Grid row-->
              <div class="row mb-3">
                  <div class="col-1 mr-1">
                      <i class="fa fa-leaf fa-lg green-text"></i>
                  </div>
                  <div class="col-10">
                      <h3 class="feature-title font-bold">Electrify America Green City Pilot</h3>
                      <p class="grey-text">Volkswagen subsidiary Electrify America has designated Sacramento as the first Green City in its Zero-Emission Vehicle (ZEV) Investment Plan. Under this initiative, Electrify America will invest $44 million in Sacramento by 2020 to catalyze a transformational shift in mobility to zero-emission technologies by installing charging infrastructure, conducting outreach and education, and implementing programs designed to increase access to and use of ZEVs.</p>
                  </div>
              </div>
              <!--Grid row-->

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-xl-5 mb-3">

              <!--Image-->
              <img src="/img/green-city.jpg" alt="Electrify America" class="img-fluid z-depth-2">

          </div>
          <!--Grid column-->

      </div>
      <!--Grid row-->

  </section>
  <!--Projects section v.3-->

</div>
